body {  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    background-color: #1F1F1F;
}

.Container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    background-image: url('images/bg.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

